body,
input,
select,
textarea {
    font-family: 'Cabin Condensed', sans-serif;
}

body {
    background-color: #000;
}

#game-screen {
    border: 1px solid grey;
    cursor: crosshair;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

button {
    cursor: pointer;
}

.big-title {
    margin-top: 56px;
    font-size: 96px;
    color: #0058b3;
    font-weight: bold;
}

#health-bar,
#current-health,
#current-health-anim,
#hNum    {
    width: 1024px;
    height: 20px;
    position: relative;
}

#external-hud {
    display: none;
}

#health-bar {
    border: 1px solid black;
    z-index: 1;
}

#hNum {
    text-align: center;
    top: -20px;
    z-index: 1000;
}

#current-health {
    background-color: #66CD00;
    z-index: 100;
}

#current-health-anim {
    background-color: grey;
    z-index: 10;
}

#combat-log {
    height: 100px;
    width: 1024px;
    font-size: 11px;
    text-align: left;
    overflow: scroll;
    border: 1p solid grey;
    display: none;
}

#canvas-wrap {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 1026px;
    height: 610px;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    display: none;
}

#main-menu {
    background: #000;
    opacity: 1.0;
}

.menu-btn {
    width: 200px;
    margin: 12px auto;
    padding: 12px 18px;
    text-align: center;
    color: #0058b3;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.15s, background-color 0.15s;
}

.menu-txt {
    width: 200px;
    margin: 12px auto;
    padding: 12px 18px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
}

.stat-title {
    width: 200px;
    margin: 12px auto;
    padding: 6px 18px;
    text-align: center;
    color: #0058b3;
    font-weight: bold;
    font-size: 16px;
}

.stat-txt {
    font-family: 'Droid Sans Mono', sans-serif;
    width: 200px;
    margin: 2px auto;
    padding: 2px 18px;
    text-align: left;
    color: #0058b3;
    font-weight: bold;
    font-size: 12px;
}

.menu-btn-container {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    
}

#progress {
    text-align: center;
}

#progress-bar {
    width: 300px;
    height: 20px;
    position: absolute;
    left: 362px;
    top: 284px;
}

#progress-text {
    margin-top: 260px;
    color: #fff;
}

#progress-text-done {
    color: #fff;
    font-size: 12px;
    margin-top: 32px;
    display: none;
}

.ui_input,
#map-name,
#map-name-ex {
    font-size: 16px;
    width: 208px;
    padding: 12px;
    height: 30px;
    margin: 0 auto;
}

#map-desc,
#map-desc-ex {
    margin-top: 12px;
    font-size: 16px;
    width: 210px;
    padding: 12px;
    height: 120px;
    margin: 0 auto;
}

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

#editor-ui {
    display: none;
    text-align: center;
}

.placeable-icon {
    cursor: pointer;
    border: 3px solid black;
    transition: border 0.2s;
}

.placeable-icon:hover {
    border: 3px solid white;
}

.mbc-6 {
    margin: -254px 0 0 -100px;
}

.mbc-5 {
    margin: -212px 0 0 -100px;
}

.mbc-4 {
    margin: -170px 0 0 -100px;
}

.mbc-3 {
    margin: -128px 0 0 -100px;
}

.mbc-2 {
    margin: -84px 0 0 -100px; <!-- offset for menus with 2 items -->
}

.mbc-1 {
    margin: -42px 0 0 -100px;
}

.menu-btn:hover {
    color: #fff;
    background-color: #0058b3;
}

#canvas-ui-wrap {
    position: absolute;
    width: 1026px;
    height: 700px;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -513px;
}

#tank-select {
    position: absolute;
    width: 578px;
    padding: 8px 8px;
    left: 50%;
    top: 60px;
    margin-left: -292px;
    border: 1px dotted rgba(255, 255, 255, 0.5);
}

#tank-info-wrapper {
    width: 100%;
    height: 40px;
    clear: both;
    overflow: hidden;
    font-size: 14px;
    color: #0058b3;
    font-weight: bold;
}

#tank-name {
    width: 420px;
    height: 24px;
    padding-top: 6px;
    border: 1px dotted rgba(255, 255, 255, 0.5);
    float: left;
}

#tank-next,
#tank-prev {
    width: 60px;
    height: 24px;
    padding-top: 6px;
    color: #0058b3;
    border: 1px dotted rgba(255, 255, 255, 0.5);
    float: right;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

#tank-next:hover,
#tank-prev:hover {
    background-color: #0058b3;
    color: #fff;
}

#tank-is-wrapper {
    width: 100%;
    clear: both;
    overflow: hidden;
}

#tank-img {
    width: 150px;
    height: 150px;
    float: left;
    background-color: #000;
}

#tank-chassis-img,
#tank-turret-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#tank-chassis-img {
    -webkit-animation:spin 22s linear infinite;
    -moz-animation:spin 22s linear infinite;
    animation:spin 22s linear infinite;
}

#tank-turret-img {
    -webkit-animation:spin 16s linear infinite;
    -moz-animation:spin 16s linear infinite;
    animation:spin 16s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#tank-stats {
    width: 400px;
    height: 150px;
    float: left;
    margin-left: 12px;
}

.ts-bar {
    font-family: 'Droid Sans', sans-serif;
    margin-top: 5px;
    width: 100%;
    height: 32px;
    font-size: 11px;
    text-align: left;
    color: #fff;
}

#ts-firepower,
#ts-armor,
#ts-mobility,
#ts-firingrate {
    height: 12px;
    width: 0;
    background: url(../images/ui/stat-bar.png) center right no-repeat;
    color: red;
}

.start-battle-ok {
    position: absolute;
    left: 80%;
    top: 520px;
    margin-left: -100px;
}

.main-menu-gs {
    position: absolute;
    left: 20%;
    top: 520px;
    margin-left: -100px;
}

#minimap,
#minimap-bg {
    pointer-events: none;
    position: absolute;
    top: 1px;
    left: 1px;
    border: 1px dotted #000;
    opacity: 0.5;
    display: visible;
}

#kill-count {
    height: 36px;
    position: absolute;
    top: 10px;
    left: 888px;
    font-size: 28px;
    font-weight: bold;
    padding-left: 62px;
    background: url(../images/ui/dead-tank.png) center left no-repeat;
    color: #fff;
}

#gold-count {
    height: 36px;
    position: absolute;
    top: 10px;
    left: 742px;
    font-size: 28px;
    font-weight: bold;
    padding-left: 36px;
    background: url(../images/ui/dollar.png) center left no-repeat;
    color: #fff;
}

#ammo-count {
    height: 36px;
    position: absolute;
    top: 570px;
    left: 888px;
    font-size: 28px;
    font-weight: bold;
    padding-left: 40px;
    background: url(../images/ui/ammo.png) center left no-repeat;
    color: #fff;
}

#text-overlay-center {
    opacity: 0;
    padding-top: 292px;
    width: 1024px;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

#text-overlay-top {
    padding-top: 10px;
    margin-left: 242px;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.hud {
    pointer-events: none;
    user-select: none;
    display: none;
    text-shadow: 1px 2px 3px #000;
}

.non-interactive {
    pointer-events: none;
    user-select: none;
}

.shop-btn {
    border-left: 4px solid rgba(255, 255, 255, 0.2);
    padding-left: 8px;
    cursor: pointer;
}

.shop-btn:hover {
    border-left: 4px solid white;
}

#shop-ui {
    text-align: left;
    pointer-events: auto;
    position: absolute;
    top: 240px;
    color: #fff;
    margin-left: 10px;
}

#map-properties-screen {
    text-align: left;
    font-size: 12px;
    color: #0058b3;
    background-color: 
}

/* Map selection */
#map-select-wrapper {
    position: absolute;
    padding: 8px 8px;
    top: 290px;
    left: 50%;
    margin-left: -400px;
	width: 800px;
	height: 204px;
    font-size: 13px;
    color: grey;
}

#ms-img {
    text-align: center;
    float: left;
    width: 204px;
    height: 204px;
    border: 1px dotted rgba(255, 255, 255, 0.5);
    background: url(../images/placeholders/map.png) no-repeat;
}

#ms-info {
    padding: 12px;
    text-align: left;
    color: #0058b3;
    float: left;
    width: 364px;
    height: 180px;
    border: 1px dotted rgba(255, 255, 255, 0.5);
}

#ms-info hr {
    opacity: 0.5;
}

#ms-prev,
#ms-next {
    float: left;
    width: 100px;
    height: 204px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

#ms-prev:hover,
#ms-next:hover {
    opacity: 1;
}

#ms-prev {
    background: url(../images/ui/map-prev.png) no-repeat;
}

#ms-next {
    background: url(../images/ui/map-next.png) no-repeat;
}

#timed-event-container {
    padding: 12px;
    max-height: 220px;
    overflow: auto;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: #0058b3;
}

#pedia-tabs {
    width: 7%;
    height: 64%;
    margin-left: 22px;
    padding: 22px 0;
    text-align: left;
    float: left;
}

#pedia-content {
    border: 1px dotted rgba(255, 255, 255, 0.5);
    width: 28%;
    height: 64%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 22px 0;
    text-align: left;
    float: left;
}

#content-data {
    border: 1px dotted rgba(255, 255, 255, 0.5);
    width: 54%;
    height: 64%;
    padding: 22px 22px;
    margin-right: 22px;
    float: right;
}

.pc-item {
    width: 100%;
    padding: 0 22px;
    color: #0058b3;
    cursor: pointer;
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.pc-item:hover,
.pc-item-active {
    background-color: #0058b3;
    color: #fff;
}

#cd-item-nd-data,
#cd-item-v-data {
    width: 100%;
    color: #0058b3;
}

#cd-item-image {
    margin: 0 auto;
}

#cd-item-video {
    width: 432px;
    height: 243px;
}

#light-box-radial {
    position: absolute;
    width: 1026px;
    height: 609px;
    top: 0;
    left: 0;
    background: url(../images/ui/light-rectangle.png) center center no-repeat;
}

.pc-cat {
    display: none;
}

#inventory-hud {
    position: absolute;
    top: 574px;
    left: 12px;
}

.flipped {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
}